@import "../../../../../style/mixin.scss";
.shoplist_container{
	background-color: #fff;
	margin-bottom: 3.34rem;
}
.shop_li{
	display: flex;
	border-bottom: 0.06rem solid #f1f1f1;
	padding: 1.16rem 0.668rem;
}
.shop_img{
	@include wh(4.5rem, 4.5rem);
	display: block;
	margin-right: 0.668rem;
}
.list_back_li{
	height: 8.1rem;
	.list_back_svg{
		@include wh(100%, 100%)
	}
}
.shop_right{
	flex: auto;
	.shop_detail_header{
		@include fj;
		align-items: center;
		.shop_title{
			width: 14.2rem;
			color: #333;
			padding-top: .016rem;
			@include font(1.08rem, 1.08rem, 'PingFangSC-Regular');
			font-weight: 700;
		}
		.premium::before{
			content: '品牌';
			display: inline-block;
			font-size: 0.83rem;
			line-height: 1rem;
			color: #333;
			background-color: #ffd930;
			padding: 0 0.16rem;
			border-radius: 0.16rem;
			margin-right: 0.33rem;
		}
		.shop_detail_ul{
			display: flex;
			transform: scale(.8);
			margin-right: -0.5rem;
			.supports{
				@include sc(0.835rem, #999);
				border: 0.06rem solid #f1f1f1;
				padding: 0 0.0668rem;
				border-radius: 0.13rem;
				margin-left: 0.083rem;
			}
		}
	}
	.rating_order_num{
		@include fj(space-between);
		height: 1rem;
		margin-top: 0.87rem;
		.rating_order_num_left{
			@include fj(flex-start);
			.rating_section{
				display: flex;
				.rating_num{
					@include sc(0.668rem, #ff6000);
					margin: 0 0.334rem;
				}
			}
			.order_section{
				transform: scale(.8);
				margin-left: -0.334rem;
				@include sc(0.668rem, #666);
			}
		}
		.rating_order_num_right{
			display: flex;
			align-items: center;
			transform: scale(.7);
			min-width: 8.35rem;
			justify-content: flex-end;
			margin-right: -1.336rem;
			.delivery_style{
				font-size: 0.668rem;
				padding: 0.0668rem 0.13rem 0;
				border-radius: 0.13rem;
				margin-left: 0.13rem;
				border: 1px;
			}
			.delivery_left{
				color: #fff;
				background-color: $blue;
				border: 0.06rem solid $blue;
			}
			.delivery_right{
				color: $blue;
				border: 0.06rem solid $blue;
			}
		}
	}
	.fee_distance{
		margin-top: 0.87rem;
		@include fj;
		@include sc(0.835rem, #333);
		.fee{
			transform: scale(.9);
			@include sc(0.835rem, #666);
		}
		.distance_time{
			transform: scale(.9);
			span{
				color: #999;
			}
			.order_time{
				color: $blue;
			}
			.segmentation{
				color: #ccc;
			}
		}
	}
}
.loader_more{
	@include font(1rem, 3);
	text-align: center;
		color: #999;
}
.return_top{
	position: fixed;
	bottom: 5rem;
	right: 1.67rem;
	.back_top_svg{
		@include wh(3.34rem, 3.34rem);
	}
}
.loading-enter-active, .loading-leave-active {
	transition: opacity 1s
}
.loading-enter, .loading-leave-active {
	opacity: 0
}