<li class="shop_li" [routerLink]="['/shop', shop.id]" [queryParams]="{geohash: geohash}">
  <section>
    <img [src]="imgBaseUrl + shop.image_path" class="shop_img">
  </section>
  <div class="shop_right">
    <header class="shop_detail_header">
      <h4 [ngClass]="{'premium':shop.is_premium}" class="shop_title ellipsis">{{shop.name}}</h4>
      <ul class="shop_detail_ul">
        <li *ngFor="let shop of shop.supports" class="supports">{{shop.icon_name}}</li>
      </ul>
    </header>
    <h5 class="rating_order_num">
      <section class="rating_order_num_left">
        <section class="rating_section">
          <rating-star [rating]='shop.rating'></rating-star>
          <span class="rating_num">{{shop.rating}}</span>
        </section>
        <section class="order_section">
          库存{{shop.recent_order_num}}/吨
        </section>
      </section>
      <section class="rating_order_num_right">
        <span class="delivery_style delivery_left" *ngIf="shop.delivery_mode">当月开票</span>
        <span class="delivery_style delivery_right" *ngIf="zhunShi(shop.supports)">15号</span>
      </section>
    </h5>
    <h5 class="fee_distance">
      <p class="fee">
        宝钢集团
      </p>

    </h5>
  </div>
</li>