page-city {
  .item-block {
    min-height: 2.5rem;
    padding: .85rem 1.28rem;
  }
  .item-inner {
    border: none !important;
    padding: 0 !important;
  }
  ion-input {
    .text-input-ios, .text-input-md {
      margin: 0;
    }
    .text-input {
      font-size: 1.08rem;
      border: 1px solid #e4e4e4;
      padding: 0 .6rem;
      height: 2.21rem;
      width: 100%;
      border-radius: .21rem;
    }
  }
  .button-ios, .button-md {
    background-color: $blue;
  }
  .button_submit {
    width: 100%;
    padding: 0 1.28rem .669rem 1.28rem;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
  }
  .getpois_ul {
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    li {
      padding-top: 1.088rem;
      padding-bottom: .92rem;
      border-bottom: 1px solid #e4e4e4;
      .pois_name {
        font-size: 1.088rem;
        width: 90%;
        margin: 0 auto .586rem;
      }
      .pois_address {
        font-size: .857rem;
        width: 90%;
        margin: 0 auto;
        color: #999;
      }
    }
  }
  .pois_search_history {
    font-size: .8rem;
    padding-left: .8rem;

  }
  .search_none_place, .clear_all_history {
    line-height: 3rem;
    font-size: 1.1rem;
    background-color: #fff;
  }
  .search_none_place {
    text-indent: .85rem;
  }
  .clear_all_history {
    text-align: center;
  }
}
