page-tabs {
  .hide-tabs {
    .tabbar {
      display: none;
    }
  }
  .tabs-md .tab-button[aria-selected=true] .tab-button-text {
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out
  }
  .tabbar ion-icon {
    margin-left: 0;
  }
  .tab-button{
    &>ion-icon{
      font-family:"iconfont" !important;   /*指定在当前组件中的ion-icon使用的字体名称*/
    }
  }
}