@import "../../../style/mixin.scss";
.header_style{
    @include sc(1.1rem, #333);
    line-height: 3.3rem;
}
.quick_remark{
    background-color: #fff;
    margin-top: .67rem;
    padding: 0 1rem 1.67rem;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-right: 1rem;
            margin-bottom: 2rem;
            span{
                @include sc(1rem, #333);
                padding: .5rem 1rem;
                border: 0.061rem solid #3190e8;
                border-left: 0;
            }
            .first{
                border-left: 0.061em solid #3190e8;
                border-top-left-radius: .33rem;
                border-bottom-left-radius: .33rem;
            }
            .last{
                border-top-right-radius: .33rem;
                border-bottom-right-radius: .33rem;
            }
            .choosed{
                color: #fff;
                background-color: #3190e8;
            }
        }
    }
}
.input_remark{
    background-color: #fff;
    .input_text{
        width: 100%;
        background-color: #f9f9f9;
        border: 0.041rem solid #eee;
        resize: none;
        min-height: 7.5rem;
        border-radius: .33rem;
        @include sc(1rem, #666);
        padding: .83rem;
    }
}
.determine{
    background-color: #4cd964;
    @include sc(1.16rem, #fff);
    text-align: center;
    margin: 0 1.16rem;
    line-height: 3rem;
    border-radius: 0.33rem;
}