<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="search" (click)="toSearch()"></ion-icon>
    <ion-title>{{addressTitle}}</ion-title>
    <login-header></login-header>
  </ion-toolbar>
</ion-header>
<ion-content>
  <nav class="msite_nav">
    <div class="swiper-container" *ngIf="foodTypes?.length">
      <div class="food_types_container">
        <ion-slides pager="true">
          <ion-slide *ngFor="let foodType of foodTypes">
            <a class="link_to_food" *ngFor="let foodItem of foodType" [routerLink]="['/food']" [queryParams]="{geohash:geohash,title:foodItem.title,restaurant_category_id:getCategoryId(foodItem.link)}">
              <figure>
                <img [src]="imgBaseUrl + foodItem.image_url">
                <figcaption>{{foodItem?.title}}</figcaption>
              </figure>
            </a>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <img src="./assets/imgs/fl.svg" *ngIf="!foodTypes?.length" class="fl_back animation_opactiy">
  </nav>
  <div class="shop_list_container">
    <header class="shop_header">
      <svg class="shop_icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shop"></use>
      </svg>
      <span class="shop_header_title">附近商家</span>
    </header>
    <shop-list *ngIf="hasGetData" [type]="'msite'" [shopList]="shopList" [geohash]="geohash"></shop-list>
    <p *ngIf="touchend" class="empty_data">没有更多了</p>
    <loading [hidden]="!showLoading"></loading>
  </div>
  <ion-infinite-scroll threshold="20px" (ionInfinite)="loaderMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>