<ion-header>
  <ion-navbar>
    <ion-title>在线支付</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <section class="show_time_amount">
    <section>
      <header class="time_last">支付剩余时间</header>
      <p class="time">{{countNum | timeLast}}</p>
      <footer class="order_detail" *ngIf="payDetail.resultData">
        <span>详情</span>
        <span>¥ {{cartPrice&&cartPrice.toFixed(2) || payDetail.resultData.orderInfo.orderAmount&&(payDetail.resultData.orderInfo.orderAmount/100).toFixed(2)}}</span>
      </footer>
    </section>
  </section>
  <div class="pay_way">选择支付方式</div>
  <section class="pay_way_list">
    <section class="pay_item">
      <div class="pay_icon_contaienr">
        <div class="zhifubao">

        </div>
        <span>支付宝</span>
      </div>
      <svg class="choose_icon" (click)="payWay = 1" [ngClass]="{choosed_way: payWay == 1}">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#select"></use>
      </svg>
    </section>
    <section class="pay_item">
      <div class="pay_icon_contaienr">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#weixin"></use>
        </svg>
        <span>微信</span>
      </div>
      <svg class="choose_icon" (click)="payWay = 2" [ngClass]="{choosed_way: payWay == 2}">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#select"></use>
      </svg>
    </section>
  </section>
  <p class="determine" (click)="confirmPay()">确认支付</p>
  <!--<alert-tip *ngIf="showAlert" @closeTip="closeTipFun" :alertText="alertText"></alert-tip>-->
</ion-content>