login-header {
  position: absolute;
  right: 0;
  top: calc(50% - .55rem);
  font-size: 1.1rem;
  .login_span {
    margin-right: .8rem;
    color: #fff;
  }
  .user_avatar {
    margin-right: .8rem;
    @include wh(1.33rem, 1.33rem);
    fill: #fff;
  }
}