<Navbar [leftContent]="leftContent" [rightContent]="rightContent">{{guessCity}}</Navbar>
<ng-template #leftContent>
  <back-icon></back-icon>
</ng-template>
<ng-template #rightContent>
  <span class="change_city" [routerLink]="['/home']">切换城市</span>
</ng-template>
<div class="page_content">
  <div class="city_search">
      <SearchBar [placeholder]="'请输入学校、商务楼、地址'" (onSubmit)="searchPlace($event)" (onCancel)="cancelSearch()"></SearchBar>
  </div>
  <header *ngIf="historyTitle" class="pois_search_history">搜索历史</header>
  <ul class="getpois_ul">
    <li *ngFor="let place of placeList" (click)="toMiste(place)">
      <h4 class="pois_name">{{place?.name}}</h4>
      <p class="pois_address">{{place?.address}}</p>
    </li>
  </ul>
  <footer *ngIf="historyTitle&&placeList.length" class="clear_all_history" (click)="clearAll()">清空所有</footer>
  <div class="search_none_place" *ngIf="placeNone">很抱歉！无搜索结果</div>
</div>