<ion-header>
  <back-header hTitle="订单详情"></back-header>
</ion-header>
<ion-content>
  <section *ngIf="!showLoading" class="scroll_container">
    <section class="order_title">
      <img [src]="imgBaseUrl + orderDetail.restaurant_image_url">
      <p>{{orderDetail.status_bar.title}}</p>
      <p>{{orderDetail.timeline_node.description}}</p>
      <div class="order_again" [routerLink]="['/shop',shopId]" [queryParams]="params">再来一单</div>
    </section>
    <section class="food_list">
      <div class="food_list_header" [routerLink]="['/shop',shopId]" [queryParams]="params">
        <div class="shop_name">
          <img [src]="imgBaseUrl + orderDetail.restaurant_image_url">
          <span>{{orderDetail.restaurant_name}}</span>
        </div>
        <svg fill="#333" class="arrow_right">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
        </svg>
      </div>
      <ul class="food_list_ul">
        <li *ngFor="let item of orderDetail.basket.group[0]">
          <p class="food_name ellipsis">{{item.name}}</p>
          <div class="quantity_price">
            <span>X{{item.quantity}}</span>
            <span>¥{{item.price}}</span>
          </div>
        </li>
      </ul>
      <div class="deliver_fee">
        <span>配送费</span>
        <span>{{orderDetail.basket.deliver_fee&&orderDetail.basket.deliver_fee.price || 0}}</span>
      </div>
      <div class="pay_ment">实付{{orderDetail.total_amount.toFixed(2)}}</div>
    </section>
    <section class="order_detail_style">
      <header>配送信息</header>
      <section class="item_style">
        <p class="item_left">送达时间：</p>
        <div class="item_right">
          <p>{{orderData.deliver_time}}</p>
        </div>
      </section>
      <section class="item_style">
        <p class="item_left">送货地址：</p>
        <div class="item_right">
          <p>{{orderData.consignee}}</p>
          <p>{{orderData.phone}}</p>
          <p>{{orderData.address}}</p>
        </div>
      </section>
      <section class="item_style">
        <p class="item_left">配送方式：</p>
        <div class="item_right">
          <p>蜂鸟专送</p>
        </div>
      </section>
    </section>
    <section class="order_detail_style">
      <header>订单信息</header>
      <section class="item_style">
        <p class="item_left">订单号：</p>
        <div class="item_right">
          <p>{{orderDetail.id}}</p>
        </div>
      </section>
      <section class="item_style">
        <p class="item_left">支付方式：</p>
        <div class="item_right">
          <p>在线支付</p>
        </div>
      </section>
      <section class="item_style">
        <p class="item_left">下单时间：</p>
        <div class="item_right">
          <p>{{orderDetail.formatted_created_at}}</p>
        </div>
      </section>
    </section>
  </section>
  <loading *ngIf="showLoading"></loading>
</ion-content>