<section class="rating_container" id="ratingContainer">
  <section>
    <section>
      <header class="rating_header">
        <section class="rating_header_left">
          <p>{{rating}}</p>
          <p>综合评价</p>
          <p>高于周边商家{{(ratingScoresData?.compare_rating*100).toFixed(1)}}%</p>
        </section>
        <section class="rating_header_right">
          <p>
            <span>服务态度</span>
            <rating-star [rating]="ratingScoresData?.service_score"></rating-star>
            <span class="rating_num">{{ratingScoresData?.service_score.toFixed(1)}}</span>
          </p>
          <p>
            <span>菜品评价</span>
            <rating-star [rating]="ratingScoresData?.food_score"></rating-star>
            <span class="rating_num">{{ratingScoresData?.food_score?.toFixed(1)}}</span>
          </p>
          <p>
            <span>送达时间</span>
            <span class="delivery_time">{{ratingScoresData?.deliver_time}}分钟</span>
          </p>
        </section>
      </header>
      <ul class="rating_list_ul">
        <li *ngFor="let item of ratingList;index as index" class="rating_list_li">
          <img [src]="getImgPath(item.avatar)" class="user_avatar">
          <section class="rating_list_details">
            <header>
              <section class="username_star">
                <p class="username">{{item.username}}</p>
                <p class="star_desc">
                  <rating-star [rating]='item.rating_star'></rating-star>
                  <span class="time_spent_desc">{{item.time_spent_desc}}</span>
                </p>
              </section>
              <time class="rated_at">{{item.rated_at}}</time>
            </header>
            <ul class="food_img_ul">
              <li *ngFor="let item of item.item_ratings; index as index">
                <img [src]="getImgPath(item.image_hash)" *ngIf="item.image_hash">
              </li>
            </ul>
            <ul class="food_name_ul">
              <li *ngFor="let item of item.item_ratings;index as index" class="ellipsis">
                {{item.food_name}}
              </li>
            </ul>
          </section>
        </li>
      </ul>
    </section>
  </section>
</section>
<p *ngIf="touchEnd" class="empty_data">没有更多了</p>
<!--<loading [hidden]="!showLoading"></loading>-->
<ion-infinite-scroll (ionInfinite)="loaderMore($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
</ion-infinite-scroll>