<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="msite">
      <ion-icon src="assets/icon/elm.svg"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon src="assets/icon/find.svg"></ion-icon>
      <ion-label>搜索</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon src="assets/icon/order.svg"></ion-icon>
      <ion-label>订单</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="assets/icon/mine.svg"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>