page-home {
  background-color: $blue;
  font-size: 1.1rem;
  .toolbar-background {
    background-color: $blue;
  }
  .head_logo {
    margin-left: .8rem;
    color: #fff;
  }
  .login_span {
    float: right;
    margin-right: .8rem;
    color: #fff;
  }
  .city_nav {
    background-color: #fff;
    line-height: 2.75rem;
    margin-bottom: .66rem;
    .city_tip{
      line-height: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0 .88rem;
    }
    .city_tip{
      span:first-of-type {
        color: #666;
        font-size: .9rem;
      }
      span:nth-of-type(2) {
        font-size: 1rem;
        font-weight: 900;
        font-size: .475rem;
        color: #9f9f9f;
      }
    }
  }
  .guess_city {
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25rem;
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    padding: 0 .88rem;
    span {
      color: $blue;
    }
    .arrow_right {
      width: 1rem;
      height: 1rem;
      fill: #999;
    }
  }
  .hot_city_container {
    background-color: #fff;
    margin-bottom: .66rem;
  }
  .citylistul li {
    text-align: center;
    color: $blue;
    border-bottom: .004rem solid #e4e4e4;
    border-right: .004rem solid #e4e4e4;
    width: 25%;
    height: 2.93rem;
    line-height: 2.93rem;
    font-size: 1rem;
    float: left;
  }
  .city_title {
    line-height: 2.57rem;
    color: #666;
    border-top: 2px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: .92rem;
    text-indent: .75rem;
  }
  .letter_classify_li {
    margin-bottom: .66rem;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
  }
  .letter_classify_li .groupcity_name_container li {
    color: #666;
  }
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
