page-confirm-order {
  .confirmOrderContainer{
        padding-bottom: 5rem;
        p, span{
            font-family: Helvetica Neue,Tahoma,Arial;
        }
    }
    .container_style{
        background-color: #fff;
        margin-top: 0.67rem;
        padding: 0 1.16rem;
    }
    .address_container{
        min-height: 6.8rem;
        @include fj;
        align-items: center;
        padding: 0 1rem;
        background: url(../../assets/imgs/address_bottom.png) left bottom repeat-x;
        background-color: #fff;
        background-size: auto .2rem;
        .address_empty_left{
            display: flex;
            align-items: center;
            .location_icon{
                @include wh(1.33rem, 1.33rem);
                fill: $blue;
                margin-right: 3.3rem;
            }
            .add_address{
                @include sc(1.16rem, #333);
            }
            .address_detail_container{
                margin-left: .33rem;
                header{
                    @include sc(1.1rem, #333);
                    span:nth-of-type(1){
                        font-size: 1.33rem;
                        font-weight: bold;
                    }
                }
                .address_tag {
                    span:nth-of-type(1) {
                       color: #8e8e8e;
                       font-size: .83rem; 
                    }
                    span:nth-of-type(2) {
                        font-size: .83rem;
                        line-height: 1.1rem;
                        padding: .15rem;
                        margin-right: .5rem;
                        border: 0.05rem solid;
                        display: inline-block;
                    }
                }
                .address_detail{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    span{
                        @include sc(.83rem, #fff);
                        border-radius: 0.25rem;
                        background-color: #ff5722;
                        height: 1rem;
                        line-height: 1rem;
                        padding: 0 .33rem;
                        margin-right: .5rem;
                    }
                    p{
                        @include sc(1.1rem, #333);
                        font-weight: bold;
                    }
                }
                .address_user {
                    span {
                        font-size: .83rem;
                    }
                }
            }
        }
    }
    .address_empty_right{
        @include wh(.83rem, .83rem);
        fill: #ccc;
    }
    .delivery_model{
        border-left: 0.33rem solid $blue;
        min-height: 4rem;
        @include fj;
        align-items: center;
        .deliver_text{
            @include sc(1.1rem, #333);
            font-weight: bold;
        }
        .deliver_fengniao {
          background-color: $blue;
          font-size: .8rem;
          text-align: center;
          border-radius: .1rem;
          color: #fff;
        }
        .deliver_time{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            p:nth-of-type(1){
                @include sc(1.16rem, $blue);
            }
            p:nth-of-type(2){
                @include sc(.83rem, #fff);
                background-color: $blue;
                width: 4rem;
                margin-top: .83rem;
                text-align: center;
                border-radius: 0.2rem;
                padding: .16rem;
            }
        }
    }
    .pay_way{
        .header_style{
            @include fj;
            line-height: 3.3rem;
            span:nth-of-type(1){
                @include sc(1rem, #666);
            }
            .pay_type {
                span {
                    @include sc(1rem, #3190e8);
                }
            }
            .more_type {
                span:nth-of-type(1){
                    @include sc(1rem, #aaa);
                    width: 16.7rem;
                    display: inline-block;
                    text-align: right;
                    vertical-align: middle;
                }
            }
        }
        .hongbo{
            @include fj;
            border-top: 0.025rem solid #f5f5f5;
            span{
                @include sc(1rem, #aaa);
                line-height: 3.3rem;
                svg{
                    @include wh(.83rem, .83rem);
                    vertical-align: middle;
                    fill: #ccc;
                }
            }
            span:nth-of-type(2){
                color: #aaa;
            }
        }
        .support_is_available{
            span{
                color: #666;
            }
        }
    }
    .food_list{
        background-color: #fff;
        margin-top: .67rem;
        header{
            padding: 1.16rem;
            border-bottom: 0.042rem solid #f5f5f5;
            img{
                @include wh(2rem, 2rem);
                vertical-align: middle;
            }
            span{
                @include sc(1.33rem, #333);
            }
        }
        .food_list_ul{
            padding-top: .83rem;
        }
        .food_item_style{
            @include fj;
            line-height: 3rem;
            padding: 0 1.16rem;
            span,p{
                @include sc(1.1rem, #666);
            }
            .food_name{
                width: 18rem;
            }
            .num_price{
                flex: 1;
                @include fj;
                align-items: center;
                span:nth-of-type(1){
                    color: #f60;
                }
            }
        }
        .total_price{
            border-top: 0.042rem solid #f5f5f5;
        }
    }
    .confrim_order{
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 3.3rem;
        p{
            line-height: 3.3rem;
            @include sc(1.25rem, #fff);
        }
        p:nth-of-type(1){
            background-color: #3c3c3c;
            flex: 5;
            padding-left: 1.16rem;
        }
        p:nth-of-type(2){
            flex: 2;
            background-color: #56d176;
            text-align: center;
        }
    }
    .cover{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.3);
        z-index: 203;
    }
    .choose_type_Container{
        min-height: 16.7rem;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 204;
        header{
            background-color: #fafafa;
            @include sc(1.16rem, #333);
            text-align: center;
            line-height: 3.3rem;
        }
        ul{
            li{
                @include fj;
                padding: 0 1.16rem;
                line-height: 4.2rem;
                align-items: center;
                span{
                    @include sc(1.16rem, #ccc);
                }
                svg{
                    @include wh(1.33rem, 1.33rem);
                    fill: #eee;
                }
            }
            .choose{
                span{
                    color: #333;
                }
                svg{
                    fill: #4cd964;
                }
            }
        }
    }
}