<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<elm-svg></elm-svg>
<!-- NG-ZORRO-MOBILE -->
<!-- <Navbar [icon]="icon" [rightContent]="rightContent" [mode]="'light'" (onLeftClick)="onLeftClick()">
  NavBar
</Navbar>
<Navbar [leftContent]="'Back'" [rightContent]="rightContent" (onLeftClick)="onLeftClick()">
  NavBar
</Navbar>

<ng-template #icon>
  <Icon [type]="'left'"></Icon>
</ng-template>

<ng-template #rightContent>
  <Icon [type]="'search'" [ngStyle]="{ marginRight: '16px' }"></Icon>
  <Icon [type]="'ellipsis'"></Icon>
</ng-template>
<a href="https://github.com/NG-ZORRO/ng-zorro-antd-mobile" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB15EhGJwHqK1RjSZFPXXcwapXa-500-539.png">
</a> -->