//  http://ionicframework.com/docs/theming/


//  App Global Sass
//  --------------------------------------------------
//  Put style rules here that you want to apply globally. These
//  styles are for the entire app and not just one component.
//  Additionally, this file can be also used as an entry point
//  to import other Sass files to be included in the output CSS.
// 
//  Shared Sass variables, which can be used to adjust Ionic's
//  default Sass variables, belong in "theme/variables.scss".
// 
//  To declare rules for a specific mode, create a child rule
//  for the .md, .ios, or .wp mode classes. The mode class is
//  automatically applied to the <body> element in the app.
//  @import 'src/style/icon';
@import 'src/assets/iconfont/iconfont';
@import 'src/style/mixin';
a, article, aside, b, body, button, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, i, input, li, nav, p, section, select, span, textarea, ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    font-weight: 400;
    font-family: Microsoft Yahei;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
html {
  font-size: 14px;
}
ion-app.md, ion-app.ios {
  font-family: Microsoft YaHei;
}

.title-md {
  left: 0;
  top: 0;
  padding: 0 90px 1px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  pointer-events: none;
  text-align: center;
}

.toolbar {
  min-height: 3.3rem;
}
.toolbar-background {
  background-color: $blue;
}
.toolbar-title {
  background-color: $blue;
  min-height: 3.3rem;
  line-height: 3.3rem;
  font-size: 1.3rem;
  color: #fff;
}
.content-ios, .content-md {
  background-color: #f5f5f5;
}

ion-icon {
  color: #fff;
  margin-left: .5rem;
  font-size: 1.6rem;
}
.back-button-md {
  margin: 0;
  min-width: 1.55rem;
}
.bar-button-md {
  padding: 0;
}
.back-button-icon-md {
  font-size: 1.6rem;
}

.item-ios, .item-md {
  font-size: 1.2rem;
}

.button-ios, .button-md {
  height: 2.34rem;
  font-size: 1.08rem;
  margin: 0;
  span {
    color:#fff;
  }
}

.back-button-icon-ios {
  font-size: 2.4rem;
}

.button-lg {
  height: 3rem;
  font-size: 1.2rem;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

/* toast  */
.toast-container {
  text-align: center;
}

.toast-ios .toast-wrapper,
.toast-md .toast-wrapper {
  left: 1rem;
  right: 1rem;
  border-radius: 0.65rem;
  width: auto;
}

.toast-ios .toast-message,
.toast-md .toast-message {
  font-size: 1rem;
  color: #fff;
  padding: .6rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* scroll */
.infinite-loading {
  margin:0;
}
ion-infinite-scroll-content {
  height: 2rem;
  min-height: 2rem;
}
ion-spinner {
  height: 1.5rem;
  min-height: 1.5rem;
}
.scroll-content {
    margin-top: 3.3rem !important;
}
/* tabs */
.tabs-ios, .tabs-md{
  .tab-button-icon {
    font-size: 1.2rem;
    height: 1.2rem;
  }
  .tab-button {
    font-size: .8rem;
    min-height: 4rem;
    .tab-button-icon {
      transform: translate3d(0, 0, 0);
    }
  }
  .tab-button[aria-selected=true] .tab-button-icon {
    color: #2395ff;
  }
  .tab-button[aria-selected=true] .tab-button-icon + span{
    color: #2395ff;
  }
}