<li  [routerLink]="['/shop']" class="list_li">
  <section class="shop_left">
    <img [src]="imgBaseUrl + shop.image_path" class="restaurant_img">
  </section>
  <section class="shop_right">
    <div class="shop_right_text">
      <p>
        <span>{{shop.name}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="14" class="pay_icon">
          <polygon points="0,14 4,0 24,0 20,14" style="fill:none;stroke:#FF6000;stroke-width:1" />
          <line x1="1.5" y1="12" x2="20" y2="12" style="stroke:#FF6000;stroke-width:1.5" />
          <text x="3.5" y="9" style="fill:#FF6000;font-size:9;font-weight:bold;">支付</text>
        </svg>
      </p>
      <p>月售 {{shop.month_sales||shop.recent_order_num}} 单</p>
      <p>{{shop.delivery_fee||shop.float_minimum_order_amount}} 元起送 / 距离{{shop.distance}}</p>
    </div>
    <ul class="shop_right_detail">
      <li *ngFor="let activity of shop.activities">
        <span [ngStyle]="{backgroundColor: '#' + activity?.icon_color}" class="activity_icon">{{activity?.icon_name}}</span>
        <span>{{activity?.name}}</span>
        <span class="only_phone">(手机客户端专享)</span>
      </li>
    </ul>
  </section>
</li>