@import "../../../style/mixin.scss";
.show_time_amount{
    background-color: #fff;
    padding: 1.16rem;
    text-align: center;
    .time_last{
        @include sc(1rem, #666);
        margin-top: 1rem;
    }
    .time{
        @include sc(2.5rem, #333);
        margin: .5rem 0 1.67rem;
    }
    .order_detail{
        @include fj;
        span{
            @include sc(1.1rem, #666);
        }
        span:nth-of-type(2){
            color: #ff6000;
            font-weight: bold;
        }
    }
}
.pay_way{
    background-color: #f1f1f1;
    padding: 0 1.16rem;
    @include sc(1.16rem, #666);
    line-height: 3rem;
}
.pay_way_list{
    background-color: #fff;
    .pay_item{
        padding: .67rem 1.16rem;
        @include fj;
        align-items: center;
        line-height: 4.3rem;
        border-bottom: 0.041rem solid #f5f5f5;
        .pay_icon_contaienr{
            @include fj;
            align-items: center;
            .zhifubao{
                @include wh(3.3rem, 3.3rem);
                background: url(../../../assets/imgs/zhifubao.png) no-repeat;
                background-size: 100% 100%;
                margin-right: .33rem;
            }
            svg{
                @include wh(3.3rem, 3.3rem);
                margin-right: .5rem;
            }
            span{
                @include sc(1.16rem, #666);
            }
        }
        .choose_icon{
            @include wh(1.67rem, 1.67rem);
            fill: #ccc;
        }
        .choosed_way{
            fill: #4cd964;
        }
    }
}
.determine{
    background-color: #4cd964;
    @include sc(1.16rem, #fff);
    text-align: center;
    margin: 0 1.16rem;
    line-height: 3rem;
    border-radius: 0.33rem;
    margin-top: 0.83rem;
    font-weight: bold;
}
.confirm {
    background-color: #4cd964;
}