<ion-header>
  <ion-navbar>
    <ion-title>收货地址</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="rating_page">
    <div class="add_icon_footer" [navPush]="'AddAddressPage'">
      <img src="../../../assets/imgs/add_address.png" height="24" width="24">
      <span>新增收货地址</span>
    </div>
    <section id="scroll_section" class="scroll_container">
      <section class="list_cotainer">
        <ul class="deliverable_address">
          <li *ngFor="let item of addressList">
            <div>
              <header>
                <span>{{item.name}}</span>
                <span>{{item.sex == 1? '先生' : '女士'}}</span>
                <span>{{item.phone}}</span>
              </header>
              <div class="address_detail ellipsis">
                <span *ngIf="item.tag" [ngStyle]="{color: iconColor[item.tag]}">{{item.tag}}</span>
                <p>{{item.address_detail}}</p>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </section>
  </div>
</ion-content>