@import "../../style/mixin.scss";
@keyframes mymove{
    0%   { transform: scale(1) }
    25%  { transform: scale(.8) }
    50%  { transform: scale(1.1) }
    75%  { transform: scale(.9) }
    100% { transform: scale(1) }
}
@-moz-keyframes mymove{
    0%   { transform: scale(1) }
    25%  { transform: scale(.8) }
    50%  { transform: scale(1.1) }
    75%  { transform: scale(.9) }
    100% { transform: scale(1) }
}
@-webkit-keyframes mymove{
    0%   { transform: scale(1) }
    25%  { transform: scale(.8) }
    50%  { transform: scale(1.1) }
    75%  { transform: scale(.9) }
    100% { transform: scale(1) }
}
@-o-keyframes mymove{
    0%   { transform: scale(1) }
    25%  { transform: scale(.8) }
    50%  { transform: scale(1.1) }
    75%  { transform: scale(.9) }
    100% { transform: scale(1) }
}
back-icon {
    margin-bottom: -5px;
    display: block;
}

.shop_detail_header{
    overflow: hidden;
    position: relative;
    .header_cover_img{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        filter: blur(10px);
    }
    .description_header{
        position: relative;
        z-index: 10;
        padding: 0.6rem 0 0.6rem 0.6rem;
        width: 100%;
        overflow: hidden;
        .description_top{
            display: flex;
            .description_left{
                margin-right: 0.6rem;
                img{
                    @include wh(4.6rem, 4.6rem);
                    display: block;
                    border-radius: 0.15rem;
                }
            }
            .description_right{
                flex: 1;
                .description_title{
                    @include sc(.8rem, #fff);
                    font-weight: bold;
                    width: 100%;
                    margin-bottom: 0.3rem;
                }
                .description_text{
                    @include sc(.5rem, #fff);
                    margin-bottom: .9rem;
                }
                .description_promotion{
                    @include sc(.5rem, #fff);
                    width: 100%;
                }
            }
            .description_arrow{
                @include ct;
                right: 0.8rem;
                z-index: 11;
                font-size: 1.4rem;
            }
        }
        .description_footer{
            @include fj;
            margin-top: 0.5rem;
            padding-right: 1rem;
            p{
                @include sc(.83rem, #fff);
                span{
                    color: #fff;
                }
                .tip_icon{
                    padding: 0 .04rem;
                    border: 0.025rem solid #fff;
                    border-radius: 0.1rem;
                    font-size: .65rem;
                    display: inline-block;
                }
            }
            .ellipsis{
                width: 84%;
            }
            .footer_arrow{
                @include wh(.45rem, .45rem);
                position: absolute;
                right: .3rem;
            }
        }
    }
}
.shop_container{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
}
.activities_details{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #262626;
    z-index: 200;
    padding: 1.25rem;
    .activities_shoptitle{
        text-align: center;
        @include sc(1.33rem, #fff);
    }
    .activities_ratingstar{
        display: flex;
        justify-content: center;
        transform: scale(2.2);
        margin-top: .7rem;
    }
    .activities_list{
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        @include sc(.83rem, #fff);
        li{
            margin-bottom: .2rem;
            .activities_icon{
                padding: 0 .02rem;
                display: inline-block;
                border: 0.025rem solid #fff;
                border-radius: 0.1rem;
            }
            span{
                color: #fff;
                line-height: .6rem;
            }
        }
    }
    .activities_shopinfo{
        p{
            line-height: .7rem;
            @include sc(.83rem, #fff);
        }
    }
    .activities_title_style{
        text-align: center;
        margin-bottom: 1rem;
        span{
            @include sc(.83rem, #fff);
            border: 0.025rem solid #555;
            padding: .2rem .4rem;
            border-radius: 0.5rem;
        }

    }
    .close_activities{
        position: absolute;
        bottom: 1rem;
        @include cl;
    }
}

.food_container{
    display: flex;
    flex: 1;
    padding-bottom: 3.34rem;
    overflow-y: hidden;
}
.menu_container{
    display: flex;
    flex: 1;
    overflow-y: hidden;
    position: relative;
    .menu_left{
        width: 6.3rem;
        overflow-y: auto;
        .menu_left_li{
            padding: .7rem .3rem;
            border-bottom: 0.025rem solid #ededed;
            box-sizing: border-box;
            border-left: 0.15rem solid #f8f8f8;
            position: relative;
            img{
                @include wh(.5rem, .6rem);
            }
            span{
                @include sc(.9rem, #666);
            }
            .category_num{
                position: absolute;
                top: .1rem;
                right: .1rem;
                background-color: #ff461d;
                line-height: 1rem;
                text-align: center;
                border-radius: 50%;
                border-color: #ff461d;
                min-width: 1.14rem;
                height: 1.14rem;
                @include sc(.8rem, #fff);
                font-family: Helvetica Neue,Tahoma,Arial;
            }
        }
        .activity_menu{
            border-left: 0.15rem solid #3190e8;
            background-color: #fff;
            span:nth-of-type(1){
                font-weight: bold;
            }
        }
    }
    .menu_right{
        flex: 4;
        overflow-y: auto;
        .menu_detail_header{
            width: 100%;
            padding: .4rem;
            position: relative;
            @include fj;
            align-items: center;
            .menu_detail_header_left{
                white-space: nowrap;
                overflow: hidden;
                line-height: 1rem;
                .menu_item_title{
                    @include sc(1rem, #666);
                    font-weight: bold;
                }
                .menu_item_description{
                    @include sc(.8rem, #999);
                    width: 30%;
                    margin-left: 10px;
                    overflow: hidden;
                }
            }
            .menu_detail_header_right{
                @include wh(.5rem, 1rem);
                display: block;
                @include bis('../../assets/imgs/icon_point.png');
                background-size: 100% .4rem;
                background-position: left center;
            }
            .description_tip{
                background-color: #39373a;
                opacity: 0.95;
                @include sc(.83rem, #fff);
                position: absolute;
                top: 1.5rem;
                z-index: 14;
                width: 8rem;
                right: .2rem;
                padding: .5rem .4rem;
                border: 1px;
                border-radius: .2rem;
                span{
                    color: #fff;
                    line-height: .6rem;
                    font-size: .92rem;
                }
            }
            .description_tip::after{
                content: '';
                position: absolute;
                @include wh(.4rem, .4rem);
                background-color: #39373a;
                top: -.5rem;
                right: .7rem;
                transform: rotate(-45deg) translateY(.41rem);
            }
        }
        .menu_detail_list{
            background-color: #fff;
            padding: .6rem .4rem;
            border-bottom: 1px solid #ddd;
            position: relative;
            overflow: hidden;
            .menu_detail_link{
                display:flex;
                .menu_food_img{
                    margin-right: .4rem;
                    img{
                        @include wh(3.5rem, 3.5rem);
                        display: block;
                    }
                }
                .menu_food_description{
                    width: calc(100% - 3.8rem);
                    .food_description_head{
                        @include fj;
                        margin-bottom: .2rem;
                        .description_foodname{
                            @include sc(1.16rem, #333);
                        }
                        .attributes_ul{
                            display: flex;
                            li{
                                font-size: .83rem;
                                height: 1rem;
                                line-height: .58rem;
                                padding: .15rem;
                                border: 1px solid #666;
                                border-radius: 0.5rem;
                                margin-right: .16rem;
                                transform: scale(.9);
                                p{
                                    white-space: nowrap;
                                }
                            }
                            .attribute_new{
                                position: absolute;
                                top: 0;
                                left: 0;
                                background-color: #4cd964;
                                @include wh(2rem, 2rem);
                                display: flex;
                                align-items: flex-end;
                                transform: rotate(-45deg) translate(-.1rem, -1.5rem);
                                border: none;
                                border-radius: 0;
                                p{
                                    @include sc(.67rem, #fff);
                                    text-align: center;
                                    flex: 1;
                                }
                            }
                        }
                    }
                    .food_description_content{
                        @include sc(.83rem, #999);
                        line-height: .6rem;
                    }
                    .food_description_sale_rating{
                        line-height: .8rem;
                        span{
                            @include sc(.83rem, #333);
                        }
                    }
                    .food_activity{
                        line-height: .4rem;
                        span{
                            font-size: .5rem;
                            border: 1px solid currentColor;
                            border-radius: 0.3rem;
                            padding: .08rem;
                            display: inline-block;
                            transform: scale(.8);
                            margin-left: -0.35rem;

                        }
                    }
                }
            }
            .menu_detail_footer{
                margin-left: 3.8rem;
                font-size: 0;
                @include fj;
                .food_price{
                    span{
                        font-family: 'Helvetica Neue',Tahoma,Arial;
                    }
                    span:nth-of-type(1){
                        @include sc(.83rem, #f60);
                        margin-right: .05rem;
                    }
                    span:nth-of-type(2){
                        @include sc(1.16rem, #f60);
                        font-weight: bold;
                        margin-right: .3rem;
                    }
                    span:nth-of-type(3){
                        @include sc(.83rem, #666);
                    }
                }
            }
        }
    }
}
.buy_cart_container{
    position: absolute;
    background-color: #3d3d3f;
    bottom: 0;
    left: 0;
    z-index: 13;
    display: flex;
    @include wh(100%, 3.34rem);
    .cart_icon_num{
        flex: 1;
        .cart_icon_container{
            display: flex;
            background-color: #3d3d3f;
            position: absolute;
            padding: .4rem;
            border: 0.18rem solid #444;
            border-radius: 50%;
            left: .5rem;
            top: -.7rem;
            .cart_icon{
                @include wh(2.2rem, 2.2rem);
            }
            .cart_list_length{
                position: absolute;
                top: -.25rem;
                right: -.25rem;
                background-color: #ff461d;
                line-height: 1rem;
                text-align: center;
                border-radius: 50%;
                border-color: #ff461d;
                min-width: 1.14rem;
                height: 1.14rem;          
                @include sc(.83rem, #fff);
                font-family: Helvetica Neue,Tahoma,Arial;
            }
        }
        .move_in_cart{
            animation: mymove .5s ease-in;
        }
        .cart_icon_activity{
                background-color: #3190e8;
        }
        .cart_num{
            @include ct;
            left: 5.5rem;

            div{
                color: #fff;
            }
            div:nth-of-type(1){
                font-size: 1.3rem;
                font-weight: bold;
                margin-bottom: .1rem;
            }
            div:nth-of-type(2){
                font-size: .65rem;
            }
        }
    }
    .gotopay{
        position: absolute;
        right: 0;
        background-color: #535356;
        @include wh(8.35rem, 100%);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .gotopay_button_style{
            @include sc(1.16rem, #fff);
            font-weight: bold;
        }
    }
    .gotopay_acitvity{
        background-color: #4cd964;
    }
}
.cart_food_list{
    position: fixed;
    width: 100%;
    padding-bottom: 3.3rem;
    z-index: 12;
    bottom: 0;
    left: 0;
    background-color: #fff;
    header{
        @include fj;
        align-items: center;
        padding: .5rem 1rem;
        background-color: #eceff1;
        svg{
            @include wh(1rem,1rem);
            vertical-align: middle;
        }
        h4{
            @include sc(1.16rem, #666);
        }
        .clear_cart{
            @include sc(1rem, #666);
        }
    }
    .cart_food_details{
        background-color: #fff;
        max-height: 20rem;
        overflow-y: auto;
        .cart_food_li{
            @include fj;
            padding: 1rem .83rem;
            .cart_list_num{
                width: 55%;
                p:nth-of-type(1){
                    @include sc(1.16rem, #666);
                    font-weight: bold;
                }
                p:nth-of-type(2){
                    @include sc(.67rem, #666);
                }
            }
            .cart_list_price{
                font-size: 0;
                span:nth-of-type(1){
                    @include sc(1rem, #f60);
                    font-family: Helvetica Neue,Tahoma;

                }
                span:nth-of-type(2){
                    @include sc(1.16rem, #f60);
                    font-family: Helvetica Neue,Tahoma;
                    font-weight: bold;
                }
            }
            .cart_list_control{
                display: flex;
                align-items: center;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                svg{
                    @include wh(1.5rem, 1.5rem);
                    fill: #3190e8;
                }
                .specs_reduce_icon{
                    fill: #999;
                }
                .cart_num{
                    @include sc(1.1rem, #666);
                    min-width: 1rem;
                    text-align: center;
                    margin-right: .2rem;
                    font-family: Helvetica Neue,Tahoma;
                }
            }
        }
    }
}
.screen_cover{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 11;
}
.change_show_type{
    background-color: #fff;
    padding: .3rem 0 .6rem;
    border-bottom: 1px solid #ebebeb;
    div{
        text-align: center;
        padding: 0 1rem;
        display: inline-block;
        span{
            @include sc(1.1rem, #666);
            padding: .2rem .1rem;
            border-bottom: 0.12rem solid #fff;
        }
        .activity_show{
            color: #3190e8;
            border-color: #3190e8;
            .rating {
                color: #3190e8;
                border-color: #3190e8;
            }
        }
        .rating {
            color: #f60;
        }
    }
}
.rating_container {
    //  overflow-y: auto;
}
.specs_cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 17;
}
.specs_list{
    position: fixed;
    top: 35%;
    left: 10%;
    width: 80%;
    background-color: #fff;
    z-index: 18;
    border: 1px;
    border-radius: 0.2rem;
    .specs_list_header{
        h4{
            @include sc(1.16rem, #000);
            font-weight: normal;
            text-align: center;
            padding: 1rem 1rem 0 1rem;
        }
        .specs_cancel{
            position: absolute;
            right: .6rem;
            top: .6rem;
            color: #ddd;
            line-height: 1rem;
        }
    }
    .specs_details{
        padding: 1rem;
        .specs_details_title{
            @include sc(.8rem, #8e8e8e);
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            padding: .4rem 0;
            li{
                font-size: .8rem;
                padding: .5rem 1rem;
                border-radius: .2rem;
                margin-right: .5rem;
                margin-bottom: .5rem;
                background-color: #eee;
            }
            .specs_activity{
                background-color: #e6f7ff;
                color: #2395ff;
            }
        }
    }
    .specs_footer{
        @include fj;
        align-items: center;
        border-top: 1px solid #d9d9d9;
        border-bottom-left-radius: .2rem;
        border-bottom-right-radius: .2rem;
        height: 2.5rem;
        line-height: 2.5rem;
        .specs_price{
            margin-left: .5rem;
            span{
                color: #ff6000;
            }
            span:nth-of-type(1){
                font-size: .85rem;
            }
            span:nth-of-type(2){
                font-size: 1.3rem;
                font-weight: bold;
                font-family: Helvetica Neue,Tahoma;
            }
        }
        .specs_addto_cart{
            @include wh(5rem, 2.5rem);
            background-color: #2395ff;
            @include sc(1rem, #fff);
            text-align: center;
            line-height: 2.5rem;
        }
    }
}
.show_delete_tip{
    position: fixed;
    top: 50%;
    left: 15%;
    width: 70%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,.8);
    z-index: 18;
    @include sc(1.1rem, #fff);
    text-align: center;
    padding: .5rem 0;
    border: 1px;
    border-radius: 0.25rem;
}
.move_dot{
    position: fixed;
    bottom: 22px;
    left: 22px;

    svg{
        @include wh(1.5rem, 1.5rem);
        fill: #3190e8;
    }
}